<a id="logo" href="<%= sufia.root_path %>">
	<%= image_tag 'libraries.logo.small.horizontal.white.png' %>
</a>
<a href="<%= sufia.root_path %>" class="institution_name"><%=t('sufia.product_name') %></a>
